.progress-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.progress-bar > .top {
    display: flex;
    justify-content: space-between;
}

.progress-bar .bottom {
    height: 8px;
    width: 100%;
    background-color: #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar .bottom > .bar {
    background-color: var(--main-color);
    height: 8px;
    animation-name: load;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes load {
    0% {
        width: 0%;
    }
        
    /*0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }*/
}

/* .progress-bar > .bottom > .bar {
    height: 100%;
    width: 90%;
    background-color: transparent;
}
.progress-bar .bar > .loading {
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    animation-name: loading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
} */
