.progress-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.progress-bar > .top {
    display: flex;
    justify-content: space-between;
}

.progress-bar .bottom {
    height: 8px;
    width: 100%;
    background-color: #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar .bottom > .bar {
    background-color: var(--main-color);
    height: 8px;
}